<!--
    This HTML is used to set up the REST endpoint for challenge 3.
    Author: Ben Lukas
-->

<!DOCTYPE html>
<html>
    <body>
        <form action="" method="POST">
            <label for="Start Time">Start time:</label>
            <input type="text" id="start_time" name="start_time" placeholder="2024-04-23T23:38:00">
            <label for="End Time">End time:</label>
            <input type="text" id="end_time" name="end_time" placeholder="2024-04-24T23:35:00">
            <button type="enter">Enter</button>
            <p>
                Time format: "2024-04-23T23:38:00" (yyyy-mm-ddThh:mm:ss)
            </p>
        </form>
    </body>
</html>
